<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>データ送信</title>
</head>
<body>
	<h1>データ送信</h1>
	<hr>
	<form action="/jmaster/receive01" method="get">
		名前：
		<input type="text" name="name">
		<br>
		
		年齢：
		<input type="text" name="age">
		<br>
		
		好きなフルーツ：
		<input type="checkbox" name="fruits" value="りんご">りんご
		<input type="checkbox" name="fruits" value="みかん">みかん
		<input type="checkbox" name="fruits" value="もも">もも
		<br>
		
		<input type="submit" value="送信">
	</form>
</body>
</html>